In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('students_adaptability_level_online_education.csv')
df

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level,Unnamed: 14
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,03-Jun,No,Tab,Moderate,NaN
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,01-Mar,Yes,Mobile,Moderate,NaN
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,01-Mar,No,Mobile,Moderate,NaN
3,Girl,Nov-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,01-Mar,No,Mobile,Moderate,NaN
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Girl,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,01-Mar,No,Mobile,Low,NaN
1201,Girl,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,03-Jun,No,Mobile,Moderate,NaN
1202,Boy,Nov-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,01-Mar,No,Mobile,Moderate,NaN
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,01-Mar,No,Mobile,Low,NaN
1204,Girl,Nov-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,01-Mar,No,Mobile,Moderate,NaN

In [7]:
df.columns

Index(['Gender', 'Age', 'Education Level', 'Institution Type', 'IT Student',
       'Location', 'Load-shedding', 'Financial Condition', 'Internet Type',
       'Network Type', 'Class Duration', 'Self Lms', 'Device',
       'Adaptivity Level', 'Unnamed: 14'],
      dtype='object')

In [10]:
df['IT Student'].unique()

array(['No', 'Yes'], dtype=object)

In [11]:
df['IT Student'].nunique()

2

In [16]:
df['IT Student'].value_counts(normalize=True)

No     0.747718
Yes    0.252282
Name: IT Student, dtype: float64

In [27]:
df['Network Type'].unique()

array(['4G', '3G', '2G'], dtype=object)

In [26]:
df['Network Type'].value_counts()

4G    775
3G    411
2G     19
Name: Network Type, dtype: int64

In [28]:
df['Device'].value_counts()

Mobile      1013
Computer     162
Tab           30
Name: Device, dtype: int64

In [29]:
df['Adaptivity Level'].value_counts()

Moderate    625
Low         480
High        100
Name: Adaptivity Level, dtype: int64